body
{
    /*background: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/static/images/wbackground.png.pagespeed.ic.y4quBltJwu.jpg) repeat;
    background-color: #F8F8F8!important;*/
    background-color: #FFFFFF;
}



.snapped
{
    width:100%;
    max-width: 1200px;
    height:500px;
    left:0px;
    display:block;
    float:left;

}

#nums
{
    width:10%;
    max-width:50px;
    height:500px;
    overflow:hidden;
    border: 0;
    background-color: rgba(256, 256, 256, 0.7);
    float:left;
}



#in
{
    width:50%;
    height:500px;
    overflow-y:hidden;
    overflow-x:hidden;
    border: 0;
    background-color: rgba(256, 256, 256, 0.7);
    float:left;
}

#out
{
    width:35%;
    height:500px;
    overflow:hidden;
    background-color: rgba(256, 256, 256, 0.7);
    float: left;
}


.linenum
{
    width:100%;
    min-height:25px;
    display:block;

}

.outln
{
    width:100%;
    height:auto;
    min-height:25px;
    display:block;

}

.inln 
{
    width:100%;
    min-height:25px;
    display:block;
}

.empty{
    height:100%;
    width:100%;
}

.cursor
{
   width:1px;
   height:25px;
   background-color:black;
   position:absolute;
}


#messagediv
{
    margin-top: 5px;
    width:600px;
    height:50px;
    display:block;
    float:right;
    overflow-y:scroll;
    font-family: Consolas,Monaco,Fixed-width;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    border: 4px solid red;
    margin-right:5px;
    vertical-align-center;
    padding-left:10px;



}

.header
{    float:left;
    margin:0;
    height:50px;
    display:block;
    margin-top:5px;
    margin-bottom:20px;
}

.header h3
{
    font-family: "Segoe UI Light";
    font-size: 48px;
    height:50px;
    margin:0;



}

.calcspace
{
    font: 20px/25px "Consolas";
    color:black;

}


.number
{
    color: green;
}

.operator
{
    color: blue;
}


.function
{
    color:orange;
}

.variable
{
    color:purple;
}

/** Plain text**/
.inln
{
    color:grey;
}


.currentline
{
    background: rgba(128, 256, 64, 0.2);

}

.currentout
{
    font-style:bold;
    /*background: rgba(128, 64, 256, 0.2);*/
    color: #0000FF;

}

.currentnum
{
    color:teal;
    font-style: bold;
    background: rgba(128, 64, 64, 0.2);
}



#aggdiv
{
    width:200px;
    height:50px;
    background-color: rgba(256, 256, 256, 0.7);
    overflow:hidden;
    left:800px;
    top:700px;
    position:absolute;

}


::-webkit-scrollbar-thumb:vertical {
    height:9px;
    background:#000;
}

::-webkit-scrollbar {
    width:8px;
    height:10px;
    background-color: #FFF;
    margin-right:5px;

}

.clear
{
    height:0px;
    width:100%;
    display:block;
    float:left;
}

.buffer
{
    float:left;
    width:5%;
    height:500px;
}